

.home-page {
  font-size: unset !important;
  min-height: unset !important;
  height: unset !important;
  overflow-x: hidden;
}

.hero-section {
	padding: 300px 0 242px;
}


.hero-section h4 {
	font-weight: 500;
	font-size: 30px;
	line-height: 48px;
}


.hero-section h3 {
	font-weight: 600;
	font-size: 32px;
	color: #fff !important;
	line-height: 50px;
}

.hero-section h4 span {
	font-weight: 700;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next,
.swiper-button-next, .swiper-rtl .swiper-button-prev {
  background: transparent;
  box-shadow: none;
}

.work-process-list .icon-content {
  order: 2;
  text-align: left;
}


canvas {
	/*opacity: .4;*/
	position: absolute;
	left: 0;
	top: 0;
	width: 100% !important;
	height: 725px !important;
}

.main-header {
	z-index: 9999;
}


#changingText {
	color: #ff8c00;
	border-right: 2px solid #fff;
	animation: cursoranim 1s linear infinite;
}

@keyframes cursoranim {
	50% {
		border-right: 2px solid #fff;
	}
}


.page-header {
	padding: 60px 0;
	background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: 50% 61% !important;
}

.page-header h1 {
	font-weight: 600;
	font-size: 40px;
}

.page-header p {
	margin-bottom: 5px;
}


.navbar-light .main-menu li.active a.nav-link {
	color: #ff8c00;
}

.main-header .btn {
 padding: 0.5rem 1rem;
}



.home-case {
  display: flex;
  background-color: #ffff;
  /*background-color: #fef9f4;*/
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  min-height: auto;
  transition: none !important;
  opacity: 1;
  text-decoration: none;
  box-shadow: 0 30px 70px 0 rgb(0 15 56 / 10%);
}

.home-case__wrap {
  position: relative;
  z-index: 2;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  width: 100%;
  min-height: 100%;
  opacity: 1;
  visibility: visible;
}

.home-case__layer {
  display: flex;
  flex-direction: column;
  max-width: 68%;
  padding: 1.4em 2.222225em 1.3em 1.744445em;
  position: relative;
  z-index: 2;
}

.home-case__title {
  margin: 0 0 0.3em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 95%;
  height: 3em;
  color: #f58220 !important;
  font-style: normal;
  font-size: 18px;
  line-height: 120%;
}

.home-case__title h1 {
  display: inline;
  margin: 0;
}

.home-case__title span {
  color: #333;
  font-size: 15px;
  line-height: 130%;
  font-weight: 600;
  padding-top: 0.15em;
}


.home-case__title+p {
  color: #4a4a4a;
  font-style: normal;
  font-size: 13px;
  line-height: 136%;
  width: 22em;
  margin-bottom: 10px;
}

.home-case .link-more {
  margin-top: auto;
  font-size: 11px;
  line-height: 120%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #175cff;
}

.home-case .link-more i {
  font-size: 10px;
  position: relative;
  top: 1px;
  color: #175cffde;
}  

.home-case .link-more:after {
  content: "";
  display: inline-block;
  margin-left: 0.2em;
  width: 0.637em;
  height: 0.728em;
  background-image: url(//intetics.com/wp-content/themes/intetics_theme/assets/css/../images/link-more-blue.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.home-case__video {
  position: absolute;
  top: 0;
  right: -1px;
  bottom: 0;
  width: 64.1%;
  z-index: 1;
}

.home-case__video img {
  width: 100%;
  height: 100%;
  position: relative;
  right: 0;
}


.intetics-lazy-image {
  transition: opacity .3s linear,visibility .3s;
}

.home-case__video video {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.home-case__video-layer {
  position: absolute;
  top: -0.1em;
  bottom: -0.1em;
  left: -0.1em;
  z-index: 2;
}


.home-case__video-layer svg {
  display: block;
  height: 100%;
}

.home-case__video-layer svg .svg-hover {
  /*fill: #fff9f4;*/
  fill: #fff;
}


.home-case__wrap:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 0;
  height: 0.167em;
  background: #f58220;
}

.home-case:hover {
  background: #fff;
  box-shadow: 0 0 20px rgb(0 0 0 / 10%);
}

#intetics-widget {
	display: none;
}



.owl-nav button {
  position: absolute;
  top: 42%;
  transform: translateY(-50%);
  color: #fff !important;
  margin: 0;
  font-size: 34px !important;
  /*background: #FFFFFF;*/
  /*box-shadow: 0px 4px 44px rgba/(0, 0, 0, 0.1);*/
  transition: all 0.3s ease-in-out;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  -webkit-text-stroke: 3px #0b163feb;
}

/*.owl-nav button:hover {
  color: #ff8c00 !important;
}
*/
.owl-nav button.owl-prev {
  left: -40px;
}

.owl-nav button.owl-next {
  right: -40px;
}


#industries .item {
  padding: 10px 10px;
}

#industries .item h3 {
  font-weight: 500;
  min-height: 25px;
  font-size: 18px;
  margin-bottom: 0;
}

#industries .item .cta-card  {  
  padding: 25px 20px 30px;
  border-radius: 0;
  border: 1px solid #e0e0e0b0;
}

.industry-section {
  color: #fff;
  background-size: cover;
  background-attachment: fixed;
  padding: 60px 0 !important;
}

.industry-section h2 {
  color: #fff;
}

.feature-section-two .icon-box  {
  padding: 10px;
}

.feature-section-two .icon-box img {
  width: 40px;
  object-fit: contain;
}


.footer-single-col {
  font-size: 15px;    
}

.work-process-list h3 {
  font-size: 18px;
}

.work-process-list p {
  font-size: 13px;
  text-align: justify;
}

.gssm-serices img {
  height: 160px;
  object-fit: contain;
}

.office-address-section .owl-nav button {
  -webkit-text-stroke: 3px #f8f9fa;
}

.office-address-section .owl-nav button {
  color: #175cff !important;
}

.process-icon-2 img {
  height: 38px;
  object-fit: contain;
}


.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swiper-slide {
  /*background-image: url(https://source.unsplash.com/random);*/
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}


.swiper-slide img {
  max-width: 280px !important;
  height: 450px;
  object-fit: cover;
  margin-top: -15px;
}

.mobile-mockup {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.mobile-mockup img {
  max-width: 280px;
  height: 500px;
  object-fit: cover;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: unset !important;
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 24px !important;
}

.services-section .feature-icon {
  width: 60px;
  height: 60px;
  line-height: 60px;

}

.services-section .feature-icon i {
  font-size: 28px;
}

.services-section .feature-icon.bg-primary {
  background-color: #175cff1f !important;
  color: #0d6efd;
}

.services-section .feature-icon.bg-danger {
  background-color: #f257671f !important;
  color: #f25767;
}

.services-section .feature-icon.bg-dark {
  background-color: #0b163f17 !important;
  color: #0b163f;
}

.services-section .feature-icon.bg-success {
  background-color: #5cc9a729 !important;
  color: #198754;
}


.services-section .feature-icon.bg-warning {
  background-color: #ff8c002b !important;
  color: #ff8c00;
}




.services-section .feature-content p {
  font-weight: 400;
  line-height: 24px;
  padding-right: 15px;
  color: rgba(13,20,29,.7);
  margin-bottom: 0;
}


.services-section .feature-content h3 {
  font-weight: 500;
  color: #212529;
  font-size: 1.17em;
  margin-bottom: 12px;
}

.contact-us-form iframe {
  width: 100%;
}

.why-choose-content ul li {
  display: flex;
}

.contact-info a {
  text-decoration: none;
  color: #575757;
}

.contact-info a:hover {
  color: #ff8c00;
}

.footer-top.ptb-80 {
  padding: 70px 0 50px;
}

footer strong {
  font-weight: 600;
  color: #000;
}

.grms-gallery .swiper-slide img,
.gerp-product .swiper-slide img {
  max-width: 380px !important;
  height: auto;
}

@media (max-width: 1200px) {
  .services-section .feature-card {
    padding: 25px !important;
  }

  .services-section .feature-content p {
    padding-right: 0;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .page-header {
    padding: 40px 0;
  }

  .page-header h1 {
    font-size: 30px;
  }

  .ptb-80 {
    padding: 60px 0;
  }

  .footer-bottom {
    text-align: center;
  }

  .pt-80 {
    padding-top: 60px;
  }

  .footer-single-col h3 {
    margin-bottom: 20px;
  }

  .page-banner.ptb-80 {
    padding: 50px 0;
  }

  .page-banner h5 {
    font-size: 16px;
  }

  .page-banner h2 {
    font-size: 20px;
    line-height: 30px;
  }


  .page-banner p {
    font-size: 18px !important;
    line-height: 26px;
  }

  .swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 0;
  }

  .swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 0;

  }

  .hero-section {
    padding: 120px 0;
    background-image: linear-gradient(to bottom, #000000b5, rgb(5 5 5 / 62%)), url(../../assets/img/banner.jpg);
    background-size: cover;
  }

  canvas {
    display: none;
  }

  .hero-section h4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    height: 140px;
  }

  .feature-content-wrap .icon-content p {
    font-size: 0.8rem;
  }

  .footer-social-list li a {
    font-size: 15px;
  }

  .footer-top.ptb-80 {
    padding: 50px 0;
  }

  .testimonial-video-wrapper .video-icon i {
    font-size: 18px;
  }

  .testimonial-video-wrapper span {
    font-size: 14px;
  }

  .contact-info p,
  .customer-review-tab p,
  .contact-us p {
    font-size: 14px;
  }

  .home-case__title {
    height: auto;
    font-size: 14px;
    margin-bottom: 5px !important;
  }

  .home-case__title span {
    color: #333;
    font-size: 12px;
    width: 14em;

  }

  .home-case__title+p {
    font-size: 11px;
    width: 20em;
  }

  .home-case .link-more {
    font-size: 10px;

  }

  .register-form h5 {
        font-size: 16px;
    line-height: 24px;
    margin-bottom: 15px;
  }

  .home-case__layer {
    padding: 12px 20px 12px 12px;
  }

  #industries .item .cta-card {
    margin-top: 0 !important;
        padding: 20px 20px 25px;
  }

.feature-section-two .feature-content-wrap .h5 {
  font-size: 14px;
}

.feature-section-two h2  {
  font-size: 20px;
}

.register-wrap.p-5 {
  padding: 30px !important;
}

}